---
import AvatarInfoContainer from "../../components/AvatarInfoContainer.astro";
import SubHeader from "../../components/SubHeader.astro";
import Layout from "../../layouts/Layout.astro";
import { getBlogPosts, getPostById } from "../../service/BlogService";

export async function getStaticPaths() {
  const posts = await getBlogPosts();

  return posts.map((post) => ({
    params: { id: post.id.toString() },
  }));
}

const { id } = Astro.params;

const post = await getPostById(id);
if (!post) {
  throw new Error("Post no encontrado");
}
---

<Layout title={post.title}>
  <article class="bg-white">
    <SubHeader post={post} />
    <div class="container mx-auto px-4 lg:px-48 py-20 flex flex-col">
      <h1 class="text-5xl font-bold text-black">
        {post.title}
      </h1>
      <h4 class="text-2xl text-gray-900 my-5">{post.subtitle}</h4>
      <img
        src={post.image}
        alt={post.title}
        class="rounded-lg my-4 w-full h-auto object-cover"
      />
      <div class="flex flex-col gap-4">
        <span class="text-gray-500 self-start">
          {post.date}
        </span>
        <div class="w-full h-[1px] bg-gray-300"></div>
        <AvatarInfoContainer author={post.author} />
      </div>
      <div
        class="text-lg text-black py-5 flex flex-col gap-4"
        set:html={post.content}
      />
    </div>
  </article>
</Layout>
