---
import { fetchBlogPosts } from "../service/BlogService";

const posts = await fetchBlogPosts();
const visiblePosts = posts.slice(0, 3); // Muestra hasta 3 posts
const showMore = posts.length > 3; // Muestra el botón "Ver más" si hay más de 3 posts
---

<section
  class="w-full flex justify-center pt-16 mb-16 lg:mb-32 bg-bgDark2 relative"
  id="blog"
>
  <div class="container">
    <div class="justify-center flex flex-col lg:text-left mb-16 mx-auto">
      <span class="text-lg text-secondaryText text-center">Nuestro Blog</span>
      <h2
        class="mt-4 mb-4 text-3xl md:text-4xl lg:text-5xl font-bold text-primaryText text-center"
      >
        Últimos Posteos
      </h2>
      <p class="text-secondaryText max-w-lg mx-auto text-center">
        Mantente actualizado con los últimos posteos de nuestro blog
      </p>
    </div>

    <!-- Responsive grid layout for blog posts -->
    <div
      class={`grid gap-8 ${posts.length === 1 ? "grid-cols-1 place-items-center" : "sm:grid-cols-2 lg:grid-cols-3"} mx-auto`}
    >
      {
        visiblePosts.map((post, index) => (
          <a
            href={`/posts/${post.id}`}
            key={`${post.title}-${index}`}
            class="bg-bgDark3 rounded-3xl overflow-hidden hover:bg-bgDark3Hover transition cursor-pointer shadow-lg text-white w-full max-w-md"
          >
            <img
              src={post.image}
              alt={post.title}
              class="w-full h-64 object-cover rounded-t-3xl"
            />
            <div class="p-6">
              <h3 class="text-2xl font-semibold text-primaryText mb-4">
                {post.title}
              </h3>
              <p
                class="text-secondaryText leading-relaxed"
                set:html={post.subtitle}
              />
            </div>
          </a>
        ))
      }
    </div>

    <!-- "Ver Más" button -->
    {
      showMore && (
        <div class="flex justify-center mt-8">
          <a
            href="/blog"
            class="bg-primaryText text-white py-2 px-6 rounded-full font-semibold transition hover:bg-primaryTextHover"
          >
            Ver más
          </a>
        </div>
      )
    }
  </div>
</section>
