---
import { getBlogPosts } from "../service/BlogService";
import { getCategoriesWithPosts } from "../service/CategorieService";

const posts = await getBlogPosts();

const categoriesWithPosts = await getCategoriesWithPosts();

const latestPost = posts[0];
const otherPosts = posts.slice(1, 4);
const showMore = posts.length > 4;
---

<div class="text-md bg-gray-800 text-white w-full text-center py-2 flex justify-between">
    <div class="container mx-auto px-4 lg:px-32 flex gap-4">
        <span>🔥 En tendencias</span>
        <span>
            -
        </span>
        <span><a class="hover:underline" href={`/posts/${latestPost.id}`}>{latestPost.title}</a></span>
    </div>
</div>
<section
    class="w-full flex justify-center py-16 bg-white relative overflow-hidden px-4"
    id="blog"
>
    <div class="container flex flex-col lg:flex-row gap-8">
        <div class="w-full lg:w-3/4">
            <a
                href={`/blog/${latestPost.id}`}
                class="block border rounded-3xl shadow-lg text-bgDark1 overflow-hidden mb-8"
            >
                <img
                    src={latestPost.image}
                    alt={latestPost.title}
                    class="w-full h-96 object-cover rounded-t-1xl"
                />
                <div class="p-6">
                    <h3 class="text-3xl font-semibold text-bgDark1 mb-4">
                        {latestPost.title}
                    </h3>
                    <p class="text-bgDark1" set:html={latestPost.subtitle} />
                </div>
            </a>

            <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
                {
                    otherPosts.map((post) => (
                        <a
                            href={`/blog/${post.id}`}
                            class="rounded-3xl flex flex-col shadow-lg border text-white overflow-hidden"
                        >
                            <img
                                src={post.image}
                                alt={post.title}
                                class="w-full h-64 object-cover rounded-t-3xl"
                            />
                            <div class="p-6">
                                <h3 class="text-2xl font-semibold text-bgDark1 mb-4">
                                    {post.title}
                                </h3>
                                <p
                                    class="text-bgDark1"
                                    set:html={post.subtitle}
                                />
                            </div>
                        </a>
                    ))
                }
            </div>
        </div>

        <aside class="w-full lg:w-1/4 bg-gray-100 p-6 rounded-xl">
            <h3 class="text-xl font-bold text-bgDark1 mb-4">Categorías</h3>
            <ul>
                {
                    categoriesWithPosts.map((category) => (
                        <li class="mb-4">
                            <h4 class="text-lg font-semibold">
                                {category.name}
                            </h4>
                            <ul class="">
                                {category.posts.map((post) => (
                                    <li class="mb-1">
                                        <a
                                            href={`/blog/${post.id}`}
                                            class="text-blue-500 hover:underline line-clamp-1"
                                        >
                                            {post.title}
                                        </a>
                                    </li>
                                ))}
                            </ul>
                        </li>
                    ))
                }
            </ul>
        </aside>
    </div>
</section>
