---
import { CheckArrowIcon } from "../assets/icons/CheckArrowIcon";

import plans from "../data/plan.json";
---

<section class="w-screen flex justify-center bg-gradient-to-b from-bgDark1 to-bgDark2 relative section-with-glow">
  <div class="absolute -top-16" id="pricing"></div>
  <div class="pb-20 pt-12 2xl:w-[1150px] lg:w-[1050px] md:w-4/5">
    <div class="container mx-auto px-4">
      <!-- Título y Selector -->
      <div class="max-w-2xl mx-auto text-center mb-16">
        <span class="text-center text-xs text-white tracking-wider font-bold uppercase">Encontrá el plan que se adapte a vos</span>
        <h2
          class="mt-6 mb-6 text-4xl lg:text-5xl font-bold font-heading text-primaryText"
        >
          Mira nuestros planes
        </h2>
        <div class="toggle-wrapper flex justify-center items-center space-x-4 mt-12">
          <button class="toggle-button active" id="webToggle" data-type="web"
            >Diseño Web</button
          >
          <button class="toggle-button" id="socialToggle" data-type="social"
            >Redes</button
          >
        </div>
      </div>

      <!-- Planes -->
      <div
        id="plansContainer"
        class="flex flex-wrap flex-col lg:flex-row -mx-4 items-center mt-10"
      >
        {
          plans.map((plan) => (
            <div
              class="plan-card w-[350px] sm:w-[380px] lg:w-1/3 px-4 mb-8 lg:mb-0"
              data-type={plan.type}
              data-plan={plan.plan}
            >
              <div class="p-8 bg-[rgba(48,49,54,0.7)] rounded-3xl border-[1px] border-[rgba(255,255,255,0.2)] h-[470px]">
                <h3 class="text-xl font-bold font-heading text-primaryText text-left">
                  {plan.title}
                </h3>
                <div class="flex justify-start flex-col">
                  <p class="text-gray-300 text-left mt-4">{plan.description}</p>
                  <div class="text-4xl sm:text-5xl font-bold text-primaryText text-left mt-1 mb-10">
                    {plan.price}
                  </div>
                </div>
                <ul class="mb-2 text-primaryText">
                  {plan.features.map((feature, index) => (
                    <li class="mb-4 flex">
                      <CheckArrowIcon />
                      <span>{feature}</span>
                    </li>
                  ))}
                </ul>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>

<script>
  const webToggle = document.getElementById("webToggle");
  const socialToggle = document.getElementById("socialToggle");
  const planCards = document.querySelectorAll(".plan-card");

  webToggle.addEventListener("click", () => {
    webToggle.classList.add("active");
    socialToggle.classList.remove("active");
    planCards.forEach((card) => {
      if (card instanceof HTMLElement) {
        card.style.display = card.dataset.type === "web" ? "block" : "none";
      }
    });
  });

  socialToggle.addEventListener("click", () => {
    socialToggle.classList.add("active");
    webToggle.classList.remove("active");
    planCards.forEach((card) => {
      if (card instanceof HTMLElement) {
        card.style.display = card.dataset.type === "social" ? "block" : "none";
      }
    });
  });
</script>

<style>
  .toggle-button {
    padding: 0.5rem 1rem;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .toggle-button.active {
    background-color: #648605;
    font-weight: bold;
  }

  .plan-card {
    display: none;
  }

  .plan-card[data-type="web"] {
    display: block;
  }

  .section-with-glow {
  background: 
    radial-gradient(600px circle at 0% 50%, rgba(156,158,239, 0.1), transparent 80%),
    radial-gradient(500px circle at 85% 50%, rgba(221, 255, 83, 0.1), transparent 90%),
    #121312;
  }
</style>
