---
import { CheckArrowIcon } from "../assets/icons/CheckArrowIcon";

import plans from "../data/plan.json";
---

<section class="w-screen flex justify-center bg-gradient-to-b from-bgDark1 to-bgDark2 relative section-with-glow overflow-hidden">
  <div class="absolute -top-16" id="pricing"></div>
  <div class="pb-20 pt-12 2xl:w-[1150px] lg:w-[1050px] md:w-4/5">
    <div class="">
      <!-- Título y Selector -->
      <div class="max-w-2xl mx-auto text-center mb-16">
        <span class="text-center text-xs text-white tracking-wider font-bold uppercase">Soluciones Tecnológicas Para Tu Negocio</span>
        <h2
          class="mt-6 mb-6 text-4xl lg:text-5xl font-bold font-heading text-primaryText"
        >
          Nuestros Servicios
        </h2>
        <div class=" flex justify-center items-center mt-12 px-4 flex-col sm:flex-row gap-2 sm:gap-5 w-full">
          <button class="toggle-button active w-full max-w-[70%] lg:max-w-48" id="webToggle" data-type="web"
            >Web Apps</button
          >
          <button class="toggle-button w-full max-w-[70%] lg:max-w-48" id="softwareToggle" data-type="software"
            >Software a Medida
            </button
          >
          <button class="toggle-button w-full max-w-[70%] lg:max-w-48" id="saasToggle" data-type="saas"
            >Plataformas SaaS
            </button
          >
        </div>
      </div>

      <!-- Planes -->
      <div
        id="plansContainer"
        class="grid grid-cols-1 lg:grid-cols-3 gap-3 lg:gap-20 mt-10 w-full justify-items-center px-2 sm:px-4"
      >
        {plans.map((plan) => (
          <a
            href={`https://wa.me/+5492646270803?text=Hola,%20estoy%20interesado%20en%20el%20servicio:%20${encodeURIComponent(
              plan.title
            )}`}
            target="_blank"
            class="plan-card w-full sm:w-[380px] px-3 mb-8 lg:mb-0 block"
            data-type={plan.type}
            data-plan={plan.plan}
          >
            <div class="py-8 px-5 bg-[rgba(48,49,54,0.7)] flex flex-col justify-start h-full rounded-3xl border-[1px] border-[rgba(255,255,255,0.2)] min-h-[560px]">
              <h3 class="text-xl font-bold font-heading text-primaryText text-left">
                {plan.title}
              </h3>
              <div class="flex justify-start flex-col">
                <p class="text-gray-300 text-left mt-4">{plan.description}</p>
                <div class="text-4xl sm:text-4xl font-bold text-primaryText text-left mt-1 mb-10">
                  {plan.price}
                </div>
              </div>
              <ul class="mb-2 text-primaryText">
                {plan.features.map((feature, index) => (
                  <li class="mb-3 flex">
                    <CheckArrowIcon />
                    <span>{feature}</span>
                  </li>
                ))}
              </ul>
              <span class="text-sm mt-auto text-gray-300 text-center w-full self-end place-self-end px-7">
                {plan.badge}
              </span>
            </div>
          </a>
        ))}
      </div>

      <!-- Botón CTA ilustrativo -->
      <div class="text-center mt-10">
        <div
          class="inline-block px-6 mt-9 text-white text-3xl font-bold rounded-md cursor-default"
        >
          Transforma tu negocio con tecnología a medida
        </div>
      </div>
    </div>
  </div>
</section>


<script>
  const webToggle = document.getElementById("webToggle");
  const softwareToggle = document.getElementById("softwareToggle");
  const saasToggle = document.getElementById("saasToggle");
  const planCards = document.querySelectorAll(".plan-card");

  webToggle.addEventListener("click", () => {
    webToggle.classList.add("active");
    softwareToggle.classList.remove("active");
    saasToggle.classList.remove("active");
    planCards.forEach((card) => {
      if (card instanceof HTMLElement) {
        card.style.display = card.dataset.type === "web" ? "block" : "none";
      }
    });
  });

  softwareToggle.addEventListener("click", () => {
    softwareToggle.classList.add("active");
    webToggle.classList.remove("active");
    saasToggle.classList.remove("active");
    planCards.forEach((card) => {
      if (card instanceof HTMLElement) {
        card.style.display = card.dataset.type === "software" ? "block" : "none";
      }
    });
  });

  saasToggle.addEventListener("click", () => {
    saasToggle.classList.add("active");
    softwareToggle.classList.remove("active");
    webToggle.classList.remove("active");
    planCards.forEach((card) => {
      if (card instanceof HTMLElement) {
        card.style.display = card.dataset.type === "saas" ? "block" : "none";
      }
    });
  });
</script>

<style>
  .toggle-button {
    padding: 0.5rem 1rem;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .toggle-button.active {
    background-color: #648605;
    font-weight: bold;
  }

  .plan-card {
    display: none;
  }

  .plan-card[data-type="web"] {
    display: block;
  }

  .section-with-glow {
  background: 
    radial-gradient(600px circle at 0% 50%, rgba(156,158,239, 0.1), transparent 80%),
    radial-gradient(500px circle at 85% 50%, rgba(221, 255, 83, 0.1), transparent 90%),
    #121312;
  }
</style>
